* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  margin: 0;
  font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }


/****************   LOGO AND NAVIGATION   ****************/
#navigation {
  position: relative;
  height: 75px;
  padding-left: 4%;
  padding-right: 4%;
  border-bottom: 3px solid  #cb6211;
  color: #fff;
  background-color: #FD7D00;
}

@media (max-width: 850px) {
  #navigation {
    max-width: 850px;
    height: 125px;
    padding: 0;
  }
}

@media (max-width: 600px) {
  #navigation {
    height: 100px;
  }
}

.logo {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 300;
}

.logo-img {
  vertical-align: bottom;
  width: 50px;
  margin-right: 5px;
}

.logo h1 {
  display: inline-block;
  line-height: 44px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

h1 strong {
  font-weight: 600;
}

.logo sup {
  font-size: 16px;
}

@media (max-width: 850px) {
  .logo {
    float: none;
    width: 100%;
    height: 75px;
    top: 0;
    transform: translateY(0);
    text-align: center;
  }
}

@media (max-width: 600px) {
  .logo {
    height: 50px;
  }
}


nav {
  height: 75px;
}

.main-nav {
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-50%);  
}

.main-nav li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  color: #fff;
  font-weight: 600;
}

@media (max-width: 850px) {
  nav {
    width: 100%;
  }

  .main-nav {
    float: none;
    height: 50px;
    top: 0;
    transform: translateY(0);
    text-align: center;
  }

  .main-nav li:last-child {
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  nav {
    height: 50px;
    padding-top: 15px;
  }

  .main-nav li {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  .main-nav li {
    margin-right: 5px;
    margin-left: 5px;
  }
}


/****************   HERO   ****************/
#hero {
  height: calc(100vh - 150px);
  padding-right: 4%;
  background: url(../img/orange-bg.png),
    linear-gradient(#fff, #e8e8e8);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  -webkit-background-size: 600px 334px, cover;
  background-size: 600px 334px, cover;
}
/*
@media (max-width: 1250px) {
  #hero {
    background-position: 5% 50%;
    -webkit-background-size: 500px 278px, cover;
    background-size: 500px 278px, cover;
  }
}*/

@media (max-width: 1250px) {
  #hero {
    background-position: 5% 50%;
    -webkit-background-size: 400px 223px, cover;
    background-size: 400px 223px, cover;
  }
}

@media (max-width: 975px) {
  #hero {
    background: linear-gradient(#fff, #e8e8e8);
    padding-right: 0;
  }
}

form {
  position: absolute;
  right: 4%;
  margin-top: 5px;
  padding: 20px 30px;
  background-color: #F1F1F1;
}

@media (max-width: 575px) {
  form {
    padding: 15px 20px;
  }
}

input {
  border: 0;
  font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #b9b9b9;
  background-color: #F1F1F1;
}

input:focus {
  outline: none;
}

.fa-search {
  margin-left: 5px;
  color: #b9b9b9;
}

.hero-text {
  width: 46%;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1250px) {
  .hero-text {
    width: 55%;
  }
}

@media (max-width: 975px) {
  .hero-text {
    float: none;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .hero-text {
    width: 90%;
  }
}

.hero-text h2 {
  margin-top: 0;/*
  margin-bottom: 10px;*/
  color: #FD7D00;
  font-weight: 300;
  font-size: 50px;
}

@media (max-width: 1050px) {
  .hero-text h2 {
    font-size: 40px;
  }
}

@media (max-width: 975px) {
  .hero-text h2 {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .hero-text h2 {
    font-size: 32px;
  }
}

.hero-text sup {
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 1050px) {
  .hero-text sup {
    font-size: 20px;
  }
}

.highlight {
  font-weight: 600;
  color: #7ACCC8;
}

button {
  width: 45%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0;
  border-radius: 5px;
  font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 1050px) {
  button {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  button {
    font-size: 16px;
  }
}

button a { color: #fff; }

.quote-btn {
  margin-right: 4%;
  background-color: #FD7D00;
}

@media (max-width: 975px) {
  .quote-btn,
  .case-btn {
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
}

@media (max-width: 416px) {
  .quote-btn {
    padding-top: 29.5px;
    padding-bottom: 29.5px;
    vertical-align: bottom;
  }
}

@media (max-width: 287px) {
  .quote-btn {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.quote-btn:hover {
  background-color: #f17a06;
}

.case-btn {
  background-color: #7ACCC8;
}

.case-btn:hover {
  background-color: #5fb3af;
}

/****************   FOOTER   ****************/
footer {
  height: 75px;
  background-color: #7ACCC8;
}